.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  background-position: center;
  background-color: #ffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__title {
  z-index: 1;
  max-width: 729px;
  font-family: "Inter, Arial, sans-serif";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
}

.header__span-accent {
  font-family: "Noto Serif, Times New Roman, serif";
  font-style: italic;
  font-weight: normal;

  line-height: 72px;
  display: block;
  color: #2f80ed;
}

.header__description {
  z-index: 1;
  max-width: 683px;
  font-family: "Noto Serif, Times New Roman, serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin: auto 0 0;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
  color: #6f6f6f;
  align-items: flex-end;
  font-family: "Inter, Arial, sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
